.personal-details-container
{
  display: flex;
  background-color: #DCB32C;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.person-details
{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.personal-details-child
{
  display: flex;
  gap: 20px;
  align-items: center;  
}

.name-label
{
  width: 125px;
}

.gender-label
{
  width: 125px;
}

.gender-grid
{
  
}

.phone-label
{
  width: 125px;
}

.phone-textbox
{
  width: 260px;
  height: 45px;
  border-radius: 10px;
}

.dob-label
{
  width: 125px;
}

.dob-textbox
{
  width: 260px;
  height: 45px;
  border-radius: 10px;
}

.address-label
{
  width: 125px;
}



