*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

.PersonApp
{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  
  margin: 0;
}

.personal-details-container
{
  display: flex;
  background-color: #DCB32C;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

.person-details
{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.personal-details-child
{
  display: flex;
  gap: 20px;
  align-items: center;  
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.personalheadername
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.name-label
{
  align-items: flex-start;
  justify-content: flex-start;
  width: 125px;
}

.gender-label
{
  align-items: flex-start;
  justify-content: flex-start;
  width: 125px;

}

.gender-grid
{
  width: 260px;
}

.phone-label
{
  width: 125px;
}

.phone-textbox
{
  width: 250px;
  height: 45px;
  border-radius: 10px;
}

.dob-label
{
  width: 125px;
}

.dob-textbox
{
  width: 250px;
  height: 45px;
  border-radius: 10px;
}

.address-label
{
  width: 125px;
}


.address-textbox
{
  width: 275px;
  height: 45px;
}

.city-empty-child
{
  width: 125px;
}

.select-dropdown
{
  width: 260px;
  height: 50px;
  right: 0;
}
.select-empty-child
{
  width: 125px;
}

.country
{
  width: 260px;
  height: 45px;
}

.Companyname-label
{
  width: 125px;
}


.company-dropdown {
  position: relative;
  z-index: 9999;
  overflow: visible;
}

.company {
  width: 260px;
  height: 50px;
  color: black;
  background-color: white; /* Ensure dropdown background is visible */
  border: 1px solid #ccc; /* Add a border for better visibility */
}

option {
  background-color: white; /* Ensure options are visible */
  color: black;
  font-size: 16px;
  padding: 5px;
}
.button-empty-child1
{
  width: 125px;
}

.button-empty-child2
{
  width: 260px;
}

.buttontext
{
  width: 260px;
  height: 45px;
  border-radius: 10px;
  background-color: #00007F;
  color: white;
}


@media (max-width: 768px)
{
  .personal-details-container
  {
    display: flex;
    background-color: #DCB32C;
    
    align-items: center;
    justify-content: center;
    height: 1000px;
  }

  .person-details
  {
    display: flex;
    flex-wrap: wrap; 
    width: 275px;  
  }

  .personal-details-child
  {
    display: flex;    
    align-items: flex-start;  
    justify-content: center;
    flex-direction: column;       
  }

  .city-empty-child
  {
    display: none;
  }


  .select-empty-child
  {
    display: none;
  }

  .button-empty-child1
  {
    display: none;
  }

  .button-empty-child2
  {
    display: none;
  }

}