

.personal-details-container
{
  display: flex;
  background-color: #DCB32C;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.person-details
{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.personal-details-child
{
  display: flex;
  gap: 20px;
  align-items: center;  
}

.name-label
{
  width: 125px;
}

.gender-label
{
  width: 125px;

}
.genderlabel
{
  width: 125px;
}
.gender-grid
{
  width: 260px;
}

.phone-label
{
  width: 125px;
}

.phone-textbox
{
  width: 250px;
  height: 45px;
  border-radius: 10px;
}

.dob-label
{
  width: 125px;
}

.dob-textbox
{
  width: 250px;
  height: 45px;
  border-radius: 10px;
}

.address-label
{
  width: 125px;
}


.address-textbox
{
  width: 275px;
  height: 45px;
}

.city-empty-child
{
  width: 125px;
}

.select-empty-child
{
  width: 125px;
}

select
{
  width: 275px;
  height: 50px;
}

.button-empty-child1
{
  width: 125px;
}

.button-empty-child2
{
  width: 260px;
}

button
{
  width: 250px;
  height: 45px;
  border-radius: 10px;
  background-color: #00007F;
  color: white;
}


@media (max-width: 768px)
{
  .personal-details-container
  {
    display: flex;
    background-color: #DCB32C;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .person-details
  {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
  }

  .personal-details-child
  {
    display: flex;
    gap: 20px;
    align-items: flex-start;  
    justify-content: center;
    flex-direction: column;       
  }

  .city-empty-child
  {
    display: none;
  }

  .select-empty-child
  {
    display: none;
  }

  .button-empty-child1
  {
    display: none;
  }

  .button-empty-child2
  {
    display: none;
  }

}