.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
 text-align: left;
 margin-left: 20px;
}


.form-container {
  position: absolute;
  top: 20px;   /* Adjust for spacing from the top */
  left: 20px;  /* Adjust for spacing from the left */
  display: flex;
  flex-direction: column; 
  gap: 15px; /* Space between fields */
  width: auto;
}
.form-group
{
  display: flex;
  align-items: center;
  gap: 15px;
}
label
{
  font-weight: bold;
  width: 250px;
  text-align: right;
}

input
{
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button
{
  padding: 8px 16px;
  background-color: #00007f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: auto;
  max-width: 200px;
  flex-shrink: 0; /* Prevent the button from shrinking */
  flex-grow: 0;   /* Prevent the button from growing */
}

.submit-button:hover
{
  background-color: #0056b3;
}

select {
  width: 250px; /* Set width */
  height: 40px; /* Set height */
  font-size: 16px; /* Adjust font size */
  padding: 5px; /* Add padding for better spacing */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Light border */
}
